In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('loan.csv')
df.head()

C:\Users\fidel\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3437: DtypeWarning: Columns (47) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

In [3]:
df.shape

(39717, 111)

# data cleaning

## dealing with missing values

In [4]:
df.isnull().sum().sort_values(ascending=False).head(20)

verification_status_joint    39717
annual_inc_joint             39717
mo_sin_old_rev_tl_op         39717
mo_sin_old_il_acct           39717
bc_util                      39717
bc_open_to_buy               39717
avg_cur_bal                  39717
acc_open_past_24mths         39717
inq_last_12m                 39717
total_cu_tl                  39717
inq_fi                       39717
total_rev_hi_lim             39717
all_util                     39717
max_bal_bc                   39717
open_rv_24m                  39717
open_rv_12m                  39717
il_util                      39717
total_bal_il                 39717
mths_since_rcnt_il           39717
open_il_24m                  39717
dtype: int64

In [5]:
#drop all columns having all null values
df = df.dropna(axis=1,how='all')

In [6]:
#check columns with null values
df.isnull().sum().sort_values(ascending=False).head(15)

next_pymnt_d                  38577
mths_since_last_record        36931
mths_since_last_delinq        25682
desc                          12940
emp_title                      2459
emp_length                     1075
pub_rec_bankruptcies            697
last_pymnt_d                     71
chargeoff_within_12_mths         56
collections_12_mths_ex_med       56
revol_util                       50
tax_liens                        39
title                            11
last_credit_pull_d                2
home_ownership                    0
dtype: int64

In [7]:
#next_pymnt_d is a date time column and its insufficient date and cannot be imputed
df = df.drop(labels=['next_pymnt_d'], axis=1)

In [8]:
#is mths_since_last_record imputable?

In [9]:
#is mths_since_last_delinq imputable?

In [10]:
#desc might be help if nlp is involved but for EDA, it isn't applicable to use this column
df = df.drop(labels=['desc'], axis=1)

In [11]:
df['emp_title'].value_counts()

US Army                              134
Bank of America                      109
IBM                                   66
AT&T                                  59
Kaiser Permanente                     56
                                    ...
Community College of Philadelphia      1
AMEC                                   1
lee county sheriff                     1
Bacon County Board of Education        1
Evergreen Center                       1
Name: emp_title, Length: 28820, dtype: int64

In [12]:
df = df[df['emp_title'].notna()]

In [13]:
df = df[df['emp_length'].notna()]

In [14]:
df = df[df['pub_rec_bankruptcies'].notna()]

In [15]:
df = df[df['last_pymnt_d'].notna()]

In [16]:
df = df[df['chargeoff_within_12_mths'].notna()]

In [17]:
df = df[df['collections_12_mths_ex_med'].notna()]

In [18]:
df = df[df['revol_util'].notna()]

In [19]:
df = df[df['tax_liens'].notna()]

In [20]:
df = df[df['title'].notna()]

In [22]:
df = df[df['last_credit_pull_d'].notna()]

In [23]:
df.shape
#3,286 entries removed

(36431, 55)